@font-face {
    font-family: 'IntelOne Text';
    src: url('./intelone-text-light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'IntelOne Text';
    src: url('./intelone-text-lightitalic.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: italic;
}

@font-face {
    font-family: 'IntelOne Text';
    src: url('./intelone-text-regular.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'IntelOne Text';
    src: url('./intelone-text-italic.woff') format('woff');
    font-weight: 400; /* Regular */
    font-style: italic;
}

@font-face {
    font-family: 'IntelOne Text';
    src: url('./intelone-text-medium.woff') format('woff');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'IntelOne Text';
    src: url('./intelone-text-mediumitalic.woff') format('woff');
    font-weight: 500; /* Medium */
    font-style: italic;
}

@font-face {
    font-family: 'IntelOne Text';
    src: url('./intelone-text-bold.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'IntelOne Text';
    src: url('./intelone-text-bolditalic.woff') format('woff');
    font-weight: 700; /* Bold */
    font-style: italic;
}
