# Default for anything not covered by one of the more specific rules below
* @mpryahin @LenaRudaya @piotrgrubicki

# Backend
backend/ @mpryahin @LenaRudaya @piotrgrubicki

# Frontend
ui/ @dwesolow @pplaskie @jpggvilaca

# Deploy
deploy/ @mpryahin @LenaRudaya @piotrgrubicki

# Docs
docs/ @Daankrol @mpryahin @LenaRudaya @dwesolow @pplaskie

# Lib
lib/ @Daankrol @mpryahin @LenaRudaya
