.panelButtons {
    padding-block-start: 0;
}

.createProjectButton {
    color: var(--spectrum-global-color-gray-900);

    & span[class*='spectrum-ActionButton-label'] {
        text-align: start;
        margin-left: var(--spectrum-global-dimension-size-100) !important;
    }
}

.dialog {
    & div[class*='spectrum-Dialog-grid'] {
        --spectrum-dialog-padding-x: 0px;
        --spectrum-dialog-padding-y: var(--spectrum-global-dimension-size-250);
    }
}

.dialogContent {
    padding-inline: var(--spectrum-global-dimension-size-250);
}

.projectList {
    list-style: none;
    padding-inline-start: 0;
}

.currentProject {
    background-color: var(--spectrum-global-color-gray-100);
    margin-inline: var(--spectrum-global-dimension-size-250);
    padding: var(--spectrum-global-dimension-size-200);
}

.currentProjectHeaderText {
    font-weight: 700;
    font-size: var(--spectrum-global-dimension-font-size-75);
}
