.activityStatusText {
    font-size: var(--spectrum-global-dimension-font-size-50);
}

.activityStatusIndicator {
    border-radius: 50%;
    height: var(--spectrum-global-dimension-size-130);
    width: var(--spectrum-global-dimension-size-130);
    background-color: var(--aqua);
}
