.sidebarContent {
    border-right-width: var(--spectrum-alias-border-size-thin);
    border-right-style: solid;
    border-top-width: var(--spectrum-alias-border-size-thin);
    border-top-style: solid;
    border-color: var(--spectrum-global-color-gray-50);
    overflow-y: auto;
}

.toggleButton {
    border: var(--spectrum-alias-border-size-thin) solid transparent !important;

    &[class*='is-hovered'] {
        border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-300) !important;
        background-color: var(--spectrum-global-color-gray-300) !important;
        border-radius: var(--spectrum-alias-border-radius-regular) !important;
    }

    &[class*='is-selected'],
    &[class*='is-active'],
    &[class*='is-disabled'] {
        border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-400) !important;
        background-color: var(--spectrum-global-color-gray-400) !important;
        border-radius: var(--spectrum-alias-border-radius-regular) !important;
    }

    &[class*='is-disabled'] {
        opacity: 0.5;
    }
}

// This is responsible for the animation when the sidebar is being expanded only when not dragging
.separator[data-separator='inactive'] + div[id='sidebar'][data-panel='true'][data-isanimating='true'] {
    transition: flex-grow 0.3s ease-out;
}

// This is responsible for the animation when the sidebar is being collapsed only when not dragging
.separator[data-separator='inactive'] + div[id='sidebar'][data-panel='true'][data-collapsed='true'] {
    flex-grow: 0 !important;
    transition: flex-grow 0.3s ease-out;
}

.separator {
    width: var(--spectrum-global-dimension-size-40);
    background-color: var(--spectrum-global-color-gray-300);
    border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-50);
    border-left: none;
    outline: none;
    transition: background-color 0.3s 0.5s ease-in;

    &:hover {
        background-color: var(--energy-blue);
    }
}

.toggleSidebar {
    border-top-width: var(--spectrum-alias-border-size-thin);
    border-top-style: solid;
    border-color: var(--spectrum-global-color-gray-50);
}
