:root {
    --default-label-width-percentage: 13%;
    --maximum-label-width-percentage: 25%;
}

.labelBadgeContainer {
    height: min-content;
    padding: var(--spectrum-global-dimension-size-50);
}

.badge {
    background-color: var(--labelBgColor);
    border-radius: var(--spectrum-alias-border-radius-regular);
    padding: var(--spectrum-global-dimension-size-50) var(--spectrum-global-dimension-size-100);
    --foregroundColor: lch(from var(--labelBgColor) calc((50 - l) * infinity) 0 0);
    --spectrum-high-contrast-button-text: var(--foregroundColor);
    display: flex;
    width: var(--default-label-width-percentage);
    & button {
        display: none;
        opacity: 0;
        transition: opacity 0.3s;
    }
}

.badge:hover {
    width: var(--maximum-label-width-percentage);
    transition: width 0.3s;
    & button {
        display: block;
        opacity: 1;
    }
}

.selected,
.selected:focus {
    outline-offset: var(--spectrum-global-dimension-size-50);
    outline: var(--spectrum-global-dimension-size-50) solid var(--labelBgColor);
}

.buttonText {
    color: var(--foregroundColor);
    text-align: left;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: var(--spectrum-global-dimension-size-1000);
}
