.projectMenu {
    & li[class*='spectrum-Menu-divider'] {
        margin-left: 0 !important;
        margin-right: 0 !important;
        background-color: var(--spectrum-global-color-gray-100) !important;
        text-decoration-thickness: auto !important;
    }
}

.panelContent {
    div[class*='_spectrum-Menu-wrapper'] {
        width: 100%;
        border: none;
        background-color: transparent;
    }
}

.panelButtons {
    padding-block-start: 0;
}
