.animateStroke {
    stroke-dasharray: calc(10 / var(--zoom-scale));
    stroke-dashoffset: calc(10 / var(--zoom-scale));
    animation: dash calc(40s * var(--zoom-scale)) linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}
