.title {
    font-weight: 500;
}

.description {
    color: var(--spectrum-global-color-gray-700);
}

.img {
    display: block;
    width: 100%;
    height: var(--spectrum-global-dimension-size-2000);
}
