.wrapper {
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}

.wrapperInternal {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    transform: translate(var(--zoom-translate-x, 0px), var(--zoom-translate-y, 0px)) scale(var(--zoom-scale, 1));
}
