.streamContainer {
    background-color: var(--spectrum-global-color-gray-200);
}

.playButton {
    padding: var(--spectrum-global-dimension-size-1200);
    border-radius: var(--spectrum-alias-border-radius-medium);
}

.videoStream {
    background-color: var(--spectrum-global-color-gray-50);
}
