.disclosure {
    box-sizing: border-box;
    background-color: var(--spectrum-global-color-gray-75);
    border: var(--spectrum-alias-border-size-thin) solid var(--spectrum-global-color-gray-200) !important;
    border-radius: var(--spectrum-alias-border-radius-regular);

    &:has(input[class*='spectrum-Radio-input']:checked) {
        border: var(--spectrum-alias-border-size-thick) solid var(--energy-blue) !important;
    }

    &:not(:last-child) {
        margin-bottom: var(--spectrum-global-dimension-size-100);
    }

    & button[class*='spectrum-Accordion-itemHeader'] svg[class*='spectrum-Accordion-itemIndicator'] {
        display: none;
    }
}

.disclosureTitleContainer {
    width: 100%;

    & button[class*='spectrum-Accordion-itemHeader'] {
        cursor: pointer;
    }
}

.disclosureTitle {
    font-size: var(--spectrum-global-dimension-font-size-75);
}
