.labelBadgeContainer {
    height: min-content;
    padding: var(--spectrum-global-dimension-size-50);
}

.badge {
    --foregroundColor: lch(from var(--labelBgColor) calc((50 - l) * infinity) 0 0);
    --spectrum-high-contrast-button-text: var(--foregroundColor);

    background-color: var(--labelBgColor);
    border-radius: var(--spectrum-alias-border-radius-regular);
    padding: var(--spectrum-global-dimension-size-50) var(--spectrum-global-dimension-size-100);
    display: flex;
    width: fit-content;
    align-items: center;
    transition: width 0.3s;
    flex: 0 1 var(--spectrum-global-dimension-size-600);

    & button {
        display: none;
        opacity: 0;
        transition: opacity 0.3s;
    }
}

.badge:hover {
    flex: 0 1 auto;

    & button {
        padding-top: var(--spectrum-global-dimension-size-50);
        display: block;
        opacity: 1;
    }
}

.selected,
.selected:focus {
    outline-offset: var(--spectrum-global-dimension-size-25);
    outline: var(--spectrum-global-dimension-size-25) solid var(--labelBgColor);
}

.buttonText {
    color: var(--foregroundColor);
    text-align: left;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: var(--spectrum-global-dimension-size-1000);
}
