.selected {
    border: var(--spectrum-alias-border-radius-regular) solid var(--energy-blue);
}

.notSelected {
    border: var(--spectrum-alias-border-radius-regular) solid transparent;
}

.frame {
    transition: border 0.2s ease-in-out;
}

.framesList {
    overflow-x: auto;
    width: 100%;
}

.frameItem {
    height: 100%;
    width: 100%;
}
