.header {
    text-align: center;
    font-weight: 500;
}

.projectsList {
    overflow-y: auto;
}

.newProjectCard {
    border: 1px dashed var(--spectrum-global-color-gray-700);

    & button {
        background-color: var(--spectrum-global-color-gray-300);
        color: #fff;
    }
}

.projectCard {
    display: flex;
    text-decoration: none;
    color: var(--spectrum-global-color-gray-900);
    border: var(--spectrum-global-dimension-size-25) solid var(--spectrum-global-color-gray-200);
    border-radius: var(--spectrum-global-dimension-size-50);
    background-color: var(--spectrum-global-color-gray-50);
    transition:
        background-color,
        border 0.2s ease-in-out;
    padding: var(--spectrum-global-dimension-size-100);
}

.projectCardHovered:hover {
    border-color: var(--energy-blue);
    background-color: var(--spectrum-global-color-gray-100);
}

.projectCardTitle {
    font-weight: 500;
}
