name: backend
on:
  workflow_call:
    inputs:
      build_version:
        description: "Specifies the build version to apply to all binaries produced by this workflow"
        type: string
        required: true
  workflow_dispatch:
jobs:
  component-check:
    name: Backend workflow
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install dependencies
        run: |
          sudo rm -f /var/lib/man-db/auto-update  # Disable man-db auto-update
          sudo apt-get update
          sudo apt-get install -y just

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@a02a550bdd3185dba2ebb6aa98d77047ce54ad21 # v6.2.1
        with:
          version: "0.9.7"
          enable-cache: true
          cache-dependency-glob: "application/backend/uv.lock"

      - name: Lint backend
        working-directory: application/backend
        run: |
          just lint

      - name: Run backend tests
        working-directory: application/backend
        run: |
          just tests
