name: distrib
on:
  workflow_call:
    inputs:
      build_version:
        description: "Specifies the build version to apply to all binaries produced by this workflow"
        type: string
        required: true
  workflow_dispatch:
jobs:
  component-check:
    name: Distrib workflow
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y just

      - name: Build docker image
        working-directory: application
        env:
          DOCKER_BUILD_CONTEXT: "--no-cache"
          TAG: ${{ inputs.build_version }}
        run: |
          just build-image

      - name: Show size of the image
        working-directory: application
        env:
          TAG: ${{ inputs.build_version }}
        run: |
          just show-size
