name: distrib
on:
  workflow_call:
    inputs:
      build_version:
        description: "Specifies the build version to apply to all binaries produced by this workflow"
        type: string
        required: true
  workflow_dispatch:
jobs:
  component-check:
    name: Distrib workflow
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y just

      - name: Build docker image
        working-directory: application
        env:
          BUILD_VERSION: ${{ inputs.build_version }}
        run: |
          just version="${BUILD_VERSION}" docker-build-context="--no-cache" build-image

      - name: Show size of the image
        working-directory: application
        env:
          BUILD_VERSION: ${{ inputs.build_version }}
        run: |
          just version="${BUILD_VERSION}" show-size
