name: library
on:
  workflow_call:
    inputs:
      build_version:
        description: "Specifies the build version to apply to all binaries produced by this workflow"
        type: string
        required: true
  workflow_dispatch:
jobs:
  component-check:
    name: Library workflow
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
        with:
          uv-cache-dependency-glob: 'library/uv.lock'

      - name: Lint library
        working-directory: library
        run: |
          just lint || exit 0

      - name: Run library tests
        working-directory: library
        run: |
          just tests || exit 0
