name: main.yml
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v[0-9]+\.[0-9]+\.[0-9]+-RC[0-9]+

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build-parameters:
    name: Prepare build parameters
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10
    outputs:
      build_version: "${{ steps.build-version.outputs.version }}"
      components-list: ${{ steps.change-detection.outputs.paths_list }}

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: change-detection
        id: change-detection
        uses: ./.github/actions/change-detection

      - name: build-version
        id: build-version
        uses: ./.github/actions/build-version

  lib:
    name: Lib build
    needs: build-parameters
    permissions:
      contents: read
    if: needs.build-parameters.outputs.components-list && contains(fromJson(needs.build-parameters.outputs.components-list), 'lib')
    uses: ./.github/workflows/lib.yml
    with:
      build_version: ${{ needs.build-parameters.outputs.build_version }}

  backend:
    name: Backend build
    needs: build-parameters
    permissions:
      contents: read
    if: needs.build-parameters.outputs.components-list && contains(fromJson(needs.build-parameters.outputs.components-list), 'backend')
    uses: ./.github/workflows/backend.yml
    with:
      build_version: ${{ needs.build-parameters.outputs.build_version }}

  ui:
    name: UI build
    needs: build-parameters
    permissions:
      contents: read
    if: needs.build-parameters.outputs.components-list && contains(fromJson(needs.build-parameters.outputs.components-list), 'ui')
    uses: ./.github/workflows/ui.yml
    with:
      build_version: ${{ needs.build-parameters.outputs.build_version }}

  distrib:
    name: Distrib build
    needs: [ lib, backend, ui ]
    permissions:
      contents: read
    uses: ./.github/workflows/distrib.yml
    with:
      build_version: ${{ needs.build-parameters.outputs.build_version }}

  success:
    name: Status checks
    needs: [ build-parameters, lib, backend, ui, distrib ]
    runs-on: ubuntu-latest
    if: ${{ always() && !cancelled() }}
    env:
      CHECKS: ${{ join(needs.*.result, ' ') }}
    steps:
      - name: Check
        run: |
          for check in ${CHECKS}; do
            echo "::notice::check=${check}"
            if [[ "$check" != "success" && "$check" != "skipped" ]]; then
              echo "::error ::Required status checks failed. They must succeed before this pull request can be merged."
              exit 1
            fi
          done


