name: main
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v[0-9]+\.[0-9]+\.[0-9]+-RC[0-9]+

permissions: {} # No permissions by default

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  build-parameters:
    name: Prepare build parameters
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10
    outputs:
      build_version: "${{ steps.build-version.outputs.version }}"
      components-list: ${{ steps.change-detection.outputs.paths_list }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: change-detection
        id: change-detection
        uses: ./.github/actions/change-detection

      - name: build-version
        id: build-version
        uses: ./.github/actions/build-version

  library:
    name: Library build
    needs: build-parameters
    permissions:
      contents: read
    if: needs.build-parameters.outputs.components-list && contains(fromJson(needs.build-parameters.outputs.components-list), 'library')
    uses: ./.github/workflows/library.yml
    with:
      build_version: ${{ needs.build-parameters.outputs.build_version }}

  backend:
    name: Backend build
    needs: build-parameters
    permissions:
      contents: read
    if: needs.build-parameters.outputs.components-list && contains(fromJson(needs.build-parameters.outputs.components-list), 'backend')
    uses: ./.github/workflows/backend.yml
    with:
      build_version: ${{ needs.build-parameters.outputs.build_version }}

  ui:
    name: UI build
    needs: build-parameters
    permissions:
      contents: read
      pull-requests: write
    if: needs.build-parameters.outputs.components-list && contains(fromJson(needs.build-parameters.outputs.components-list), 'ui')
    uses: ./.github/workflows/ui.yml

  distrib:
    name: Distrib build
    needs: [build-parameters]
    permissions:
      contents: read
    if: github.event_name != 'push' && needs.build-parameters.outputs.components-list && contains(fromJson(needs.build-parameters.outputs.components-list), 'distrib')
    uses: ./.github/workflows/distrib.yml
    with:
      build_version: ${{ needs.build-parameters.outputs.build_version }}

  markdown:
    name: Markdown build
    needs: build-parameters
    permissions:
      contents: read
    if: needs.build-parameters.outputs.components-list && contains(fromJson(needs.build-parameters.outputs.components-list), 'markdown')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 #v22.0.0
        with:
          config: '.github/.markdownlint-cli2.jsonc'

  success:
    name: Status checks
    needs: [ build-parameters, library, backend, ui, distrib ]
    runs-on: ubuntu-latest
    if: ${{ always() && !cancelled() }}
    env:
      CHECKS: ${{ join(needs.*.result, ' ') }}
    steps:
      - name: Check
        run: |
          for check in ${CHECKS}; do
            echo "::notice::check=${check}"
            if [[ "$check" != "success" && "$check" != "skipped" ]]; then
              echo "::error ::Required status checks failed. They must succeed before this pull request can be merged."
              exit 1
            fi
          done
