name: ui
on:
  workflow_call:
    inputs:
      build_version:
        description: "Specifies the build version to apply to all binaries produced by this workflow"
        type: string
        required: true
  workflow_dispatch:

jobs:
  generate-openapi-spec:
    name: Generate OpenAPI Spec
    runs-on: ubuntu-latest
    permissions:
      contents: read # to checkout code
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@a02a550bdd3185dba2ebb6aa98d77047ce54ad21 # v6.2.1
        with:
          version: "0.8.8"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y just libgl1 libglib2.0-0

      - name: Get OpenAPI spec
        run: |
          just backend/gen-openapi

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: openapi-spec
          path: backend/.build/openapi-spec.json

  build:
    name: Build UI
    runs-on: ubuntu-latest
    permissions:
      contents: read # to checkout code
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        id: setup-node
        with:
          node-version-file: ui/.nvmrc

      - name: Install dependencies
        working-directory: "ui"
        run: npm ci

      - name: Build UI
        working-directory: "ui"
        run: npm run build

      - name: Compress build
        working-directory: "ui"
        run: tar -czf dist.tar.gz dist

      - uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: ui-dist
          path: "ui/dist.tar.gz"

  lint:
    uses: ./.github/workflows/lint.yml
    with:
      build_version: ${{ inputs.build_version }}

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        id: setup-node
        with:
          node-version-file: ui/.nvmrc

      - name: Install dependencies
        working-directory: "ui"
        run: npm ci

      - name: Unit tests
        working-directory: "ui"
        run: npm run test:unit:coverage

  playwright-tests:
    name: Playwright Tests
    needs:
      - build
      - generate-openapi-spec
    permissions:
      contents: read # to checkout code
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.55.0-noble
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.2
        with:
          persist-credentials: false
          ref: ${{ inputs.ref || '' }}

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        id: setup-node
        with:
          node-version-file: ui/.nvmrc

      - name: Install dependencies
        working-directory: "ui"
        run: npm ci

      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: ui-dist
          path: "ui"

      - name: Unpack build
        working-directory: "ui"
        run: tar -xzf dist.tar.gz

      - name: Download OpenAPI spec artifact
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: openapi-spec
          path: ui/src/api

      - name: Run Playwright tests
        working-directory: "ui"
        run: npm run test:component -- --project "Component tests"

      - name: Upload blob report to GitHub Actions Artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        if: always()
        with:
          name: playwright-report
          path: ui/playwright-report/
          retention-days: 30
