name: ui
on:
  workflow_call:
    inputs:
      build_version:
        description: "Specifies the build version to apply to all binaries produced by this workflow"
        type: string
        required: true
  workflow_dispatch:

jobs:
  generate-openapi-spec:
    name: Generate OpenAPI Spec
    runs-on: innersource.prod.amr.dind
    permissions:
      contents: read # to checkout code
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@a02a550bdd3185dba2ebb6aa98d77047ce54ad21 # v6.2.1
        with:
          version: "0.8.8"

      - name: Install dependencies
        run: |
          sudo -E curl -fsSL 'https://proget.makedeb.org/debian-feeds/prebuilt-mpr.pub' | gpg --dearmor | sudo tee /usr/share/keyrings/prebuilt-mpr-archive-keyring.gpg 1> /dev/null && \
          echo "deb [arch=all,$(dpkg --print-architecture) signed-by=/usr/share/keyrings/prebuilt-mpr-archive-keyring.gpg] https://proget.makedeb.org prebuilt-mpr $(lsb_release -cs)" | sudo tee /etc/apt/sources.list.d/prebuilt-mpr.list && \
          sudo -E apt update && \
          sudo -E apt install -y \
            just \
            libgl1-mesa-glx \
            libglib2.0-0

      - name: Get OpenAPI spec
        run: |
          just backend/gen-openapi

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: openapi-spec
          path: backend/.build/openapi-spec.json

  build:
    name: Build UI
    runs-on: innersource.prod.amr.dind
    permissions:
      contents: read # to checkout code
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: placeholder
        run: |
          echo "A placeholder for ci steps, version: ${{ inputs.build_version }}"

  lint:
    name: Eslint checks
    runs-on: innersource.prod.amr.dind
    permissions:
      contents: read # to checkout code
    needs: generate-openapi-spec
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: placeholder
        run: |
          echo "A placeholder for ci steps, version: ${{ inputs.build_version }}"

  unit-tests:
    name: Unit tests
    runs-on: innersource.prod.amr.dind
    permissions:
      contents: read # to checkout code
    needs: generate-openapi-spec
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: placeholder
        run: |
          echo "A placeholder for ci steps, version: ${{ inputs.build_version }}"

  playwright-tests:
    name: Playwright Tests
    needs:
      - build
      - generate-openapi-spec
    permissions:
      contents: read # to checkout code
    timeout-minutes: 60
    runs-on: innersource.prod.amr.dind
    container:
      image: mcr.microsoft.com/playwright:v1.54.0-noble
    steps:
      - name: Checkout code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.2
        with:
          persist-credentials: false

      - name: placeholder
        run: |
          echo "A placeholder for ci steps, version: ${{ inputs.build_version }}"
