name: windows-installer
on:
  workflow_call:
    inputs:
      build_version:
        description: "Specifies the build version to apply to all binaries produced by this workflow"
        type: string
        required: true
      ai-device:
        description: "Specifies the AI device to build the backend for (cpu, xpu, gpu)"
        type: string
        required: true
        default: "xpu"
  # allow to manually trigger this workflow
  workflow_dispatch:
    inputs:
      build_version:
        description: "Specifies the build version to apply to all binaries produced by this workflow"
        type: string
        required: true
      ai-device:
        description: "Specifies the AI device to build the backend for (cpu, xpu, gpu)"
        required: true
        options:
          - xpu
          - cpu
          - gpu
        default: "xpu"

env:
  GIT_SH_PATH: C:\Program Files\Git\bin\sh.exe
  BACKEND_PATH: .\application\backend
  UI_PATH: .\application\ui
  BACKEND_BUILD_PATH: .\application\backend\.build
  BACKEND_DIST_PATH: .\application\backend\dist\geti-prompt-backend
  UI_SRC_API_PATH: .\application\ui\src\api
  UI_SRC_TAURI_PATH: .\application\ui\src-tauri
  UI_TARGET_RELEASE_PATH: .\application\ui\src-tauri\target\release
  UI_MSIX_BUNDLE_PATH: .\application\ui\src-tauri\target\release\bundle\msix
  MAKEAPP_PATH: "C:\\Program Files (x86)\\Windows Kits\\10\\bin\\10.0.26100.0\\x64\\makeappx.exe"

jobs:
  windows-installer:
    name: Build windows installer
    runs-on: windows-latest
    permissions:
      contents: read
    timeout-minutes: 60

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      # Install and setup build tools

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@a02a550bdd3185dba2ebb6aa98d77047ce54ad21 # v6.2.1
        with:
          version: "0.9.7"
          enable-cache: true
          cache-dependency-glob: "application/backend/uv.lock"

      - name: Install Just
        run: choco install just --yes

      - name: Install Rust
        uses: dtolnay/rust-toolchain@6d9817901c499d6b02debbb57edb38d33daa680b
        with:
          toolchain: stable

      # Build backend

      - name: Build OpenAPI spec
        working-directory: application/backend
        env:
          DEVICE: ${{ inputs.ai-device || 'xpu' }}
        run: |
          just --shell "${{ env.GIT_SH_PATH }}" --shell-arg -c ai-device="$env:DEVICE" gen-openapi

      - name: Build executable
        working-directory: application/backend
        env:
          DEVICE: ${{ inputs.ai-device || 'xpu' }}
        run: |
          just --shell "${{ env.GIT_SH_PATH }}" --shell-arg -c ai-device="$env:DEVICE" pyinstaller

      # Copy backend artifacts to UI

      - name: Copy backend artifacts to UI
        run: |
          cp -r ${{ env.BACKEND_DIST_PATH }}\_internal ${{ env.UI_SRC_TAURI_PATH }}
          cp -r ${{ env.BACKEND_DIST_PATH }}\InitialData ${{ env.UI_SRC_TAURI_PATH }}
          cp -r ${{ env.BACKEND_DIST_PATH }}\geti-prompt-backend.exe ${{ env.UI_SRC_TAURI_PATH }}\geti-prompt-backend-x86_64-pc-windows-msvc.exe

      - name: Copy OpenAPI spec
        run: |
          cp -r ${{ env.BACKEND_BUILD_PATH }}\openapi-spec.json ${{ env.UI_SRC_API_PATH }}

        # Build UI with Tauri

      - name: Setup Node & npm
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: application/ui/.nvmrc
          cache: 'npm'
          cache-dependency-path: application/ui/package-lock.json

      - name: Enable long paths
        run: reg add "HKLM\SYSTEM\CurrentControlSet\Control\FileSystem" /v LongPathsEnabled /t REG_DWORD /d 1 /f

      - name: Configure Git long paths
        run: git config --system core.longpaths true

      - name: Install dependencies
        working-directory: application/ui
        run: npm ci

      - name: Install Tauri CLI
        run: npm install -g @tauri-apps/cli

      - name: Build OpenAPI type definitions
        working-directory: application/ui
        run: npm run build:api:types

      - name: Build Tauri app
        working-directory: application/ui
        run: npm run tauri build

      # Build MSIX bundle

      - name: Create MSIX package
        env:
          BUILD_VERSION: ${{ inputs.build_version || 'latest' }}
          DEVICE: ${{ inputs.ai-device || 'xpu' }}
        run: |
          mkdir -p ${{ env.UI_MSIX_BUNDLE_PATH }}
          cp ${{ env.UI_TARGET_RELEASE_PATH }}\geti-prompt-backend.exe ${{ env.UI_MSIX_BUNDLE_PATH }}
          cp ${{ env.UI_TARGET_RELEASE_PATH }}\geti_prompt_ui.exe ${{ env.UI_MSIX_BUNDLE_PATH }}
          cp -r ${{ env.UI_TARGET_RELEASE_PATH }}\_internal ${{ env.UI_MSIX_BUNDLE_PATH }}
          cp -r ${{ env.UI_TARGET_RELEASE_PATH }}\InitialData ${{ env.UI_MSIX_BUNDLE_PATH }}
          cp -r ${{ env.UI_SRC_TAURI_PATH }}\msix\* ${{ env.UI_MSIX_BUNDLE_PATH }}
          & "${{ env.MAKEAPP_PATH }}" pack /d ${{ env.UI_MSIX_BUNDLE_PATH }} /p ${{ env.UI_MSIX_BUNDLE_PATH }}\geti-prompt-$env:DEVICE-$env:BUILD_VERSION.msix

      - name: Upload MSIX package
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.UI_MSIX_BUNDLE_PATH }}\*.msix
